body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}

h1{
    font-size: 50px;
}

.title-name{
    color: orange;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left:2%;
    float: left;
}