body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
img{
    width: 100%;
}

h1{
    font-size: 50px;
}

.title-name{
    color: orange;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left:2%;
    float: left;
}

.tob-back{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    box-sizing: border-box;
    overflow: hidden;
}

.hire-button{
    background-image: linear-gradient(45deg, rgb(246, 154, 143), tomato);
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 3s;
    border: 1px solid tomato;

}

.hire-button:hover{
    background-image: none;
    color: tomato;
}

.dream{
    color: tomato;
    font-weight: bold;
    font-size: 30px;
}



.section-dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
/* 
.section-experiences{
   background-image: url("images/exp-bg.png");
   background-repeat: no-repeat;
  
}


.section-experiences h1{
margin-bottom: 2px;
  text-align: center;
}

.section-experiences .line{
    height: 5px;
    width: 100%;
    background-image: linear-gradient(45deg,green,red);
    margin-top: 2px;

}

.section-justify-content{
    display: flex;
    justify-content: space-between;
} 

.section-experiences .box{
    width: 40%;
    box-shadow: 1px 1px 20px 0px #0000003b;
    float: left;
    margin: 3%;

}

.bash {
    width: 2%;
    background-image: linear-gradient(blue, tomato);
    float: left;
    height: 300px;
}

.bash1{
    background-color: tomato;
    width: 2%;
    float: left;
    height: 300px;
}

.text-area{
    width: 94%;
    padding: 4%;
}

.text-area h3{
    font-size: 30px;
    font-weight: bold;
}

.text-area h4{
    font-size: 15px;
    color: orange;
} */


